Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

##### what is mongodb
MongoDB stores data in flexible, JSON-like documents, meaning fields can vary from document to document and data structure can be changed over time

The document model maps to the objects in your application code, making data easy to work with

Ad hoc queries, indexing, and real time aggregation provide powerful ways to access and analyze your data

MongoDB is a distributed database at its core, so high availability, horizontal scaling, and geographic distribution are built in and easy to use

##### non-relational databases
Non-relational databases are databases that do not use the relational model as their basic data structure. Instead, they use a variety of data models that are more flexible and scalable than the relational model. Non-relational databases are also known as NoSQL databases.

##### IN WHICH SCENARIOS IT IS PREFERRED TO USE MONGODB OVER SQL DATABASES?
MongoDB is a document database, which means it stores data in JSON-like documents. With fields that can vary from document to document, the document model offers a flexible, scalable solution to many data modeling problems. MongoDB is a distributed database at its core, so high availability, horizontal scaling, and geographic distribution are built in and easy to use.

##### Q2. State and Explain the features of MongoDB.

#### state and explain the features of mongodb

##### Features of MongoDB

1. Document-Oriented Storage
2. Indexes
3. Replication and High Availability
4. Auto-Sharding
5. Rich Query Language
6. MapReduce
7. Aggregation Framework

##### Document-Oriented Storage
MongoDB stores data records as documents (specifically BSON documents). Documents are analogous to objects in object-oriented programming languages. Documents include field and value pairs. Field names must be strings and the values may include other documents, arrays, and arrays of documents.

##### Indexes
MongoDB supports secondary indexes. Indexes support the efficient resolution of queries in MongoDB. Indexes in MongoDB are similar to indexes in other databases. You must create an index before you can use it to sort query results.

##### Replication and High Availability
MongoDB provides both replication and high availability without the use of third-party software or services. MongoDB supports master-slave and master-master replication.

##### Auto-Sharding
MongoDB provides auto-sharding. Sharding is the process of distributing data across multiple machines. MongoDB automatically shards collections upon the creation of the first index on a collection.

##### Rich Query Language
MongoDB provides a rich query language to access data in MongoDB documents. MongoDB supports SQL-like queries. MongoDB also supports dynamic queries on documents using a document-based query language that's nearly as powerful as SQL.

##### MapReduce
MongoDB provides MapReduce as a parallel processing framework. MapReduce is a programming model for processing and generating large data sets with a parallel, distributed algorithm on a cluster. The MapReduce model is comprised of a map function, a reduce function, and a finalize function.

##### Aggregation Framework
MongoDB provides an aggregation framework that supports data aggregation operations similar to those found in RDBMS systems. The aggregation framework consists of a set of aggregation operations that process data records and return computed results.

#### Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://Anshuman:mGnpkQOmeZp6Hi77@cluster0.j2pkmau.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [2]:
db

Database(MongoClient(host=['ac-p1fkz0v-shard-00-01.j2pkmau.mongodb.net:27017', 'ac-p1fkz0v-shard-00-02.j2pkmau.mongodb.net:27017', 'ac-p1fkz0v-shard-00-00.j2pkmau.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-ip9dfz-shard-0', tls=True), 'test')

In [3]:
db = client['Anshuman']

In [4]:
coll_pwskills = db["my_record"]

In [5]:
data = {
    'name' : 'anshuman' , 
    'email' : 'anshuman@gmai.com', 
    'regno' : 4436346362
}

In [6]:
coll_pwskills.insert_one(data)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [13]:
data4 = [
  { "name": "Am4", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [8]:
data3 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [14]:
### insert many 
coll_pwskills.insert_many(data4)

In [15]:
### insert one
coll_pwskills.insert_one(data3)

In [19]:
coll_pwskills.find_one({"qty" : 50})

{'_id': ObjectId('63f1095a74c68f7865d58f4e'),
 'name': 'notebook',
 'qty': 50,
 'rating': [{'score': 8}, {'score': 9}],
 'size': {'height': 11, 'width': 8.5, 'unit': 'in'},
 'status': 'A',
 'tags': ['college-ruled', 'perforated']}

In [20]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('63f104ea74c68f7865d58f40'), 'name': 'sudh', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f1061474c68f7865d58f41'), 'mail_id': 'anshumana@gmail.com', 'phone_number': 8765578657876, 'addr': 'delhi'}
{'_id': ObjectId('63f1089974c68f7865d58f42'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f1089974c68f7865d58f43'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f1089974c68f7865d58f44'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f1089974c68f7865d58f45'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f1089974c68f7865d58f46'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f1089974c68f7865d58f47'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f1089974c68f7865d58f48'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f1089974c68f7865d58f49'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f1089974c68f7865d58f4a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f1089974c68f7865d58f4b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f1089974c68f7865d58f4c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f1089974c68f7865d58f4d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f1095a74c68f7865d58f4e'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63f10a5874c68f7865d58f4f'), 'companyName': 'pwskill', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63f10a5874c68f7865d58f50'), 'companyName': 'pwskill', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63f10a5874c68f7865d58f51'), 'companyName': 'pwskill', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('63f2560173d77592070bd90b'), 'name': 'anshuman', 'email': 'anshuman@gmai.com', 'regno': 4436346362}
{'_id': ObjectId('63f256ed73d77592070bd90c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f256ed73d77592070bd90d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f256ed73d77592070bd90e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f256ed73d77592070bd90f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f256ed73d77592070bd910'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f256ed73d77592070bd911'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f256ed73d77592070bd912'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f256ed73d77592070bd913'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f256ed73d77592070bd914'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f256ed73d77592070bd915'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f256ed73d77592070bd916'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f256ed73d77592070bd917'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f2573273d77592070bd918'), 'name': 'Am4', 'address': 'Apple st 652'}
{'_id': ObjectId('63f2573273d77592070bd919'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f2573273d77592070bd91a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f2573273d77592070bd91b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f2573273d77592070bd91c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f2573273d77592070bd91d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f2573273d77592070bd91e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f2573273d77592070bd91f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f2573273d77592070bd920'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f2573273d77592070bd921'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f2573273d77592070bd922'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f2573273d77592070bd923'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f2574173d77592070bd924'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [21]:
## explain how can you use the find()
#In mongoDB, the find() method is used to fetch a particular data from the table.
#  In other words, it is used to select data in a table. It is also used to return all events to the selected data. 
# The find() method consists of two parameters by which we can find a particular record.
coll_pwskills.find_one({"status": "A"})

{'_id': ObjectId('63f1095a74c68f7865d58f4e'),
 'name': 'notebook',
 'qty': 50,
 'rating': [{'score': 8}, {'score': 9}],
 'size': {'height': 11, 'width': 8.5, 'unit': 'in'},
 'status': 'A',
 'tags': ['college-ruled', 'perforated']}

##### Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [22]:
## explain how can you use the sort() method in  mongoDB
##To sort documents in MongoDB, you need to use sort() method. 
# The method accepts a document containing a list of fields along with their sorting order. 
# To specify sorting order 1 and -1 are used. 1 is used for ascending order while -1 is used for descending order.

for i in coll_pwskills.find().sort("name"):
    print(i)

{'_id': ObjectId('63f1061474c68f7865d58f41'), 'mail_id': 'anshumana@gmail.com', 'phone_number': 8765578657876, 'addr': 'delhi'}
{'_id': ObjectId('63f10a5874c68f7865d58f4f'), 'companyName': 'pwskill', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63f10a5874c68f7865d58f50'), 'companyName': 'pwskill', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63f10a5874c68f7865d58f51'), 'companyName': 'pwskill', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('63f2573273d77592070bd918'), 'name': 'Am4', 'address': 'Apple st 652'}
{'_id': ObjectId('63f1089974c68f7865d58f42'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f256ed73d77592070bd90c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f1089974c68f7865d58f4a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f256ed73d77592070bd914'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f2573273d77592070bd920'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f1089974c68f7865d58f46'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f256ed73d77592070bd910'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f2573273d77592070bd91c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f1089974c68f7865d58f4c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f256ed73d77592070bd916'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f2573273d77592070bd922'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f1089974c68f7865d58f43'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f256ed73d77592070bd90d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f2573273d77592070bd919'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f1089974c68f7865d58f44'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f256ed73d77592070bd90e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f2573273d77592070bd91a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f1089974c68f7865d58f47'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f256ed73d77592070bd911'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f2573273d77592070bd91d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f1089974c68f7865d58f45'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f256ed73d77592070bd90f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f2573273d77592070bd91b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f1089974c68f7865d58f48'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f256ed73d77592070bd912'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f2573273d77592070bd91e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f1089974c68f7865d58f49'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f256ed73d77592070bd913'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f2573273d77592070bd91f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f1089974c68f7865d58f4d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f256ed73d77592070bd917'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f2573273d77592070bd923'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f1089974c68f7865d58f4b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f256ed73d77592070bd915'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f2573273d77592070bd921'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f2560173d77592070bd90b'), 'name': 'anshuman', 'email': 'anshuman@gmai.com', 'regno': 4436346362}
{'_id': ObjectId('63f1095a74c68f7865d58f4e'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63f2574173d77592070bd924'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63f104ea74c68f7865d58f40'), 'name': 'sudh', 'class': 'data science', 'time': 'flexi'}

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [23]:
## how to use the delete_one() method in mongoDB
# The delete_one() method deletes the first occurrence of the specified value.
# The delete_one() method returns a DeleteResult object, which contains a deleted_count property,
# which holds the number of deleted documents.

coll_pwskills.delete_one({"name": "notebook"})

In [24]:
# how to use the delete_many() method in mongoDB
# The delete_many() method deletes all occurrences of the specified value.
# The delete_many() method returns a DeleteResult object, which contains a deleted_count property,
# which holds the number of deleted documents.

coll_pwskills.delete_many({"name": "notebook"})

In [25]:
# how to use the drop 
# The drop() method deletes the collection.
coll_pwskills.drop()