In [4]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration': duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [7]:
print(df.loc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [9]:
# in the pandas data frame we can use the loc for find out the spacifice value of  the data set 
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [10]:
# in the pandas it is used for the find the row from the one row to another in a range 
df.iloc[1:3]

        course_name  duration
1  Machine Learning         3
2          Big Data         6

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [12]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)

In [13]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [14]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [15]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Did you observe any difference in both the outputs? If so then explain it.

In [ ]:
# yes there is a diffrance betweent them in the loc function it will return the index value 2 
# and in case of iloc it is retun the  from index  2 till end

In [16]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [17]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.355612  0.786631  0.536122  0.811522  0.926782  0.579642
2  0.342489  0.140113  0.402162  0.410214  0.680801  0.774536
3  0.911235  0.706245  0.812716  0.478981  0.738848  0.124296
4  0.170759  0.520314  0.287744  0.240586  0.616389  0.742472
5  0.503001  0.818510  0.580339  0.737476  0.501303  0.780492
6  0.790763  0.128413  0.618608  0.515228  0.548166  0.952147

Q4. Write a code to find the following statistical measurements for the above dataframe df1:


(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [29]:
list = df1.columns
for i in list:
    print(i , df1[i].mean())

column_1 0.5123097254643482
column_2 0.5167042319403482
column_3 0.5396152238817468
column_4 0.5323346302051486
column_5 0.6687148857835812
column_6 0.6589308491680165

In [32]:
print("standard deviation of column2" , df1['column_2'].std())

standard deviation of column2 0.313839841702048

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

In [35]:
df1['column_2'].loc[2] = 'anshu'

In [36]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.355612  0.786631  0.536122  0.811522  0.926782  0.579642
2  0.342489     anshu  0.402162  0.410214  0.680801  0.774536
3  0.911235  0.706245  0.812716  0.478981  0.738848  0.124296
4  0.170759  0.520314  0.287744  0.240586  0.616389  0.742472
5  0.503001   0.81851  0.580339  0.737476  0.501303  0.780492
6  0.790763  0.128413  0.618608  0.515228  0.548166  0.952147

In [37]:
df1['column_2'].mean()

# here we are getting error because of  we add a string in the rwo and it not able to find out the exart mean of the  col

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

The window functions in Pandas are used to perform some sort of calculations across a set of rows that are interrelated with the current row. The windows functions help us to perform the aggregated calculations across various partitions or cross-sections of the data

##### type of window functions
Rolling window: Generic fixed or variable sliding window over the values.

Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.

Expanding window: Accumulating window over the values.

Exponentially Weighted window: Accumulating and exponentially weighted window over the values.

Q7. Write a code to print only the current month and year at the time of answering this question.

In [5]:
date = pd.date_range(start='2023-02-1' , end= '2023-03-10')

In [6]:
date_df = pd.DataFrame({'date' : date })
date_df.head()

        date
0 2023-02-01
1 2023-02-02
2 2023-02-03
3 2023-02-04
4 2023-02-05

In [7]:
date_df['month'] = date_df['date'].dt.month

In [8]:
date_df.head()

        date  month
0 2023-02-01      2
1 2023-02-02      2
2 2023-02-03      2
3 2023-02-04      2
4 2023-02-05      2

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [19]:
# import datetime
# start = input("enter the start Date in YYYY-MM-DD")
# end = input("enter the end Date in YYYY-MM-DD")

# date = pd.date_range(start ,end)


# date_df = pd.DataFrame({'date':date})
# first_day = date_df['date'].loc[0].day
# len = len(date_df['date']) -1 
# Last_day = date_df['date'].loc[len].day

# first_hour = date_df['date'].loc[0].hours 
# len = len(date_df['date']) -1 
# Last_hour = date_df['date'].loc[len].hours

date1 = input("Enter first date (YYYY-MM-DD): ")
date2 = input("Enter second date (YYYY-MM-DD): ")

# Convert string to datetime format
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate difference between dates
diff = date2 - date1

print(f"Days: {diff.days}")
print(f"Hours: {diff.seconds // 3600}")
print(f"Minutes: {(diff.seconds // 60) % 60}")

Days: 91
Hours: 0
Minutes: 0

9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:

import pandas as pd

# Prompt user for file path, column name, and category order
file_path = input("Enter file path: ")
column_name = input("Enter column name: ")
category_order = input("Enter category order (comma-separated): ").split(",")

# Read CSV file into DataFrame
df = pd.read_csv(file_path)

# Convert column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order)

# Sort data by specified column
df = df.sort_values(by=column_name)

print(df)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:

import pandas as pd
import matplotlib.pyplot as plt

# Prompt user for file path
file_path = input("Enter file path: ")

# Read CSV file
df = pd.read_csv(file_path)

# Group data by product category and year
grouped_data = df.groupby(['Product Category', 'Year']).sum()

# Pivot data to create stacked bar chart
stacked_data = grouped_data.unstack(level=0)

# Plot stacked bar chart
stacked_data.plot(kind='bar', stacked=True)

# Set chart title and axis labels
plt.title('Sales by Product Category')
plt.xlabel('Year')
plt.ylabel('Sales')

# Display chart
plt.show()

In [33]:
import pandas as pd 

df = pd.read_csv('data.csv')

df['student_id'] = df['1']
df['test_score']  = df['85']


print("mean of the student is " ,df['test_score'].mean())
print("median of the student is ",df['test_score'].median())
print("mode of the student is ",df['test_score'].mode())

mean of the student is  83.33333333333333
median of the student is  85.0
mode of the student is  0    85
Name: test_score, dtype: int64